/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* Main header font */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

/* Body font */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* .form-input {
    @apply w-full rounded-full bg-yellow-500 px-6 py-4 text-sm focus:outline-none focus:ring focus:ring-yellow-600 focus:ring-offset-2;
  } */
}

h2 {
  @apply text-[#00304] text-3xl;
}

label {
  @apply font-bold font-innerbody text-[#00304];
}

@layer components {
  .form-input {
    @apply rounded-lg p-5 w-full h-10  mt-2 mb-4 bg-stone-100 text-stone-700 focus:outline-none focus:ring focus:ring-offset-4  focus:ring-stone-400;
  }
}
